<!-- Filename: course.py -->
<!-- Description: This html file shows the course home page of the app  which allows the user to see course info, and submit new course info and professors -->
<!-- Inputs: base.html -->
<!-- Output:  -->
<!-- Authors: Xavier Ruyle -->
<!-- Creation Date: 10/24/2024 -->

{% extends 'base.html' %}

{% block content_title %}{{course.name_combined}}{% endblock %}
{% block content_subtitle %}
<form action="{{course.combined_name}}" method="post">
<input type="hidden">
<button type="submit" class="btn btn-info mt-3" name="follow-btn" value="follow">Follow</button>
</form><br>
Posts
{% endblock %}

{% block content_main %}
      <div class="card mb-4">
        <div class="card-body">
            <div class="d-flex align-items-center mb-3">
                <img src="https://via.placeholder.com/40" class="rounded-circle mr-2" alt="User">
                <div class="px-3">
                    <h6 class="mb-1">johnanon</h6>
                    <small class="text-muted">Posted on Oct 17, 2024</small>
                </div>
            </div>
            <h5 class="card-title">Midterm 1</h5>
            <p class="card-text">How did it go for you all? Lorem ipsum blalalalala lalaalala l alalalala</p>
            <a href="#" class="btn btn-primary">See Comments (2521)</a>
            <div class="mt-2">
                <small>Posted in <a href="{{url_for('course', university_acro=course.university.acronym, course=course.name_combined)}}" class="text-primary">{{course.university.acronym}}/{{course.name_combined}}</a></small>
            </div>
        </div>
    </div>

    <h2>Info</h2>

    <p>Average Grade: {{course.average_grade}}</p>
    <p>Average Difficulty (1-5): {{course.average_difficulty}}</p>
    <p>Credit Hours: {{course.credit_hours}}</p>

    <h4>Submit Info<h4>
    <form action="{{course.combined_name}}" method="post">
    <div class="row">
      <div class="col">
        <input class="form-control w-100" type="text" placeholder="Grade" readonly>
        <select class="form-control form-control-sm" id="grade" name="grade" for="grade">
          <option>A</option>
          <option>B</option>
          <option>C</option>
          <option>D</option>
          <option>F</option>
        </select>
      </div>
      <div class="col">
        <input class="form-control w-100" type="text" placeholder="Difficulty" readonly>
        <select class="form-control form-control-sm" id="name" name="difficulty" for="difficulty">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      <div class="col">
        <input class="form-control w-100" type="text" placeholder="Credit Hours" readonly>
        <select class="form-control form-control-sm" id="credit-hours" name="credit-hours" for="credit-hours">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
        </select>
      </div>
    </div>
    <button type="submit" class="btn btn-primary mt-3">Submit</button>
    <form>

    <h2 class="mt-5">Past Professors</h2> 
    <div class="card mb-3" style="width: 18rem; font-size: 14px">
        {% for professor in course.instructors %}
          <ul class="list-group list-group-flush">
              <li class="list-group-item">{{professor}}</li>
          </ul>
        {% endfor %}
    </div>

    <form action="{{course.name_combined}}" method="post">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="">First and Last Name</span>
          </div>
          <input type="text" class="first-name" name="first-name">
          <input type="text" class="last-name" name="last-name">
        </div>
        <button type="submit" class="btn btn-primary mt-3">Submit</button>
    </form>
{% endblock %}


