<!-- Filename: create_course.py -->
<!-- Description: This html file shows the create course page of the app  which allows the user to create a new course -->
<!-- Inputs: base.html -->
<!-- Output:  -->
<!-- Authors: Xavier Ruyle -->
<!-- Creation Date: 10/24/2024 -->

{% extends 'base.html' %}


{% block content_title %}Create Course{% endblock %}
{% block content_subtitle %}Course Creation Form{% endblock %}

{% block content_main %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
    <div class="alert alert-danger" role="alert">
        {{ message }}
    </div>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}


<form action="create-course" method="post">
  <div class="form-group">
    <label for="university">University Acronym</label>
    <input type="text" class="form-control" name="university" for="university" id="university" placeholder="KU">
  </div>

  <div class="form-group">
    <label for="department">Department</label>
    <input type="text" class="form-control" name="department" id="department" placeholder="EECS">
  </div>

  <div class="form-group">
    <label for="course-number">Course Number</label>
    <input type="text" class="form-control" name="course-number" id="course-number" placeholder="581">
  </div>

<button type="submit" class="btn btn-primary">Submit</button>
</form>
  {% endblock %}


