<!-- Filename: home.py -->
<!-- Description: This html file shows the home page of the app -->
<!-- Inputs: base.html -->
<!-- Output:  -->
<!-- Authors: Xavier Ruyle -->
<!-- Creation Date: 10/24/2024 -->

{% extends 'base.html' %} {% block content_title %}Home{% endblock %} {% block
content_subtitle %}Search Results{% endblock %} {% block content_main %}
<!--   <div class="card mb-4"> -->
<!--     <div class="card-body"> -->
<!--         <div class="d-flex align-items-center mb-3"> -->
<!--             <img src="https://via.placeholder.com/40" class="rounded-circle mr-2" alt="User"> -->
<!--             <div class="px-3"> -->
<!--                 <h6 class="mb-1">johnanon</h6> -->
<!--                 <small class="text-muted">Posted on Oct 17, 2024</small> -->
<!--             </div> -->
<!--         </div> -->
<!--         <h5 class="card-title">Midterm 1</h5> -->
<!--         <p class="card-text">How did it go for you all</p> -->
<!--         <a href="#" class="btn btn-primary">See Comments (2521)</a> -->
<!--         <div class="mt-2"> -->
<!--             <small>Posted in <a href="#" class="text-primary">KU/EECS-563</a></small> -->
<!--         </div> -->
<!--     </div> -->
<!-- </div> -->
{% endblock %}
