<!-- Filename: search_course.html -->
<!-- Description: This html file shows the search results of courses for a given user query -->
<!-- Inputs: base.html -->
<!-- Output:  -->
<!-- Authors: Xavier Ruyle -->
<!-- Creation Date: 11/25/2024 -->

{% extends 'base.html' %} {% block content_title %}Search Courses in
{{university.acronym}} {% endblock %} {% block content_subtitle %}Course Search
Results{% endblock %} {% block content_main %}
<!--   <div class="card mb-4"> -->
<!--     <div class="card-body"> -->
<!--         <div class="d-flex align-items-center mb-3"> -->
<!--             <img src="https://via.placeholder.com/40" class="rounded-circle mr-2" alt="User"> -->
<!--             <div class="px-3"> -->
<!--                 <h6 class="mb-1">johnanon</h6> -->
<!--                 <small class="text-muted">Posted on Oct 17, 2024</small> -->
<!--             </div> -->
<!--         </div> -->
<!--         <h5 class="card-title">Midterm 1</h5> -->
<!--         <p class="card-text">How did it go for you all</p> -->
<!--         <a href="#" class="btn btn-primary">See Comments (2521)</a> -->
<!--         <div class="mt-2"> -->
<!--             <small>Posted in <a href="#" class="text-primary">KU/EECS-563</a></small> -->
<!--         </div> -->
<!--     </div> -->
<!-- </div> -->
{% if courses is none %}
<p>No search results for <i>{{search_content}}</i>...</p>
{% else %}
<div class="list-group">
  {% for course in courses %}

  <a
    href="{{url_for('course', university_acro=university.acronym, course=course.name_combined)}}"
    class="list-group-item list-group-item-action"
    >{{course.name_combined}} - {{course.name}}</a
  >

  {% endfor %}
</div>
{% endif %} {% endblock %}
