<!-- Filename: university_home.py -->
<!-- Description: This html file shows the university home page -->
<!-- Inputs: base.html -->
<!-- Output:  -->
<!-- Authors: Xavier Ruyle -->
<!-- Creation Date: 10/24/2024 -->

{% extends 'base.html' %}

{% block sidebar_content %} 
{% endblock %}

{% block content_title %}University Home - {{university.acronym}}{% endblock %}
{% block content_subtitle %}

<form action="{{course}}" method="post">
<input type="hidden">
<button type="submit" class="btn btn-info mt-3" name="follow-btn" value="follow">Follow</button>
</form><br>
Trending Courses
{% endblock %}


{% block content_main %}

<div class="list-group">
    {% for course in university.courses %}
    <a href="{{url_for('course', university_acro=university.acronym, course=course.name_combined)}}" class="list-group-item list-group-item-action">{{course.name_combined}}</a>
    {% endfor %}
</div>

  <!-- <a href="#" class="list-group-item list-group-item-action">EECS 581</a> -->

<a href="{{url_for('create_course')}}"><button type="button" class="btn btn-dark mt-4">Create Course</button></a>
{% endblock %}
